.grid-items,
.grid-cols {
  display: grid;
}

.grid-items {
  gap: 2em;
}

.grid-cols-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 2em;
}

.grid-cols-cols {
  display: grid;
}

.grid-cols-cols input,
.grid-cols-cols select,
.grid-cols-cols button,
.grid-cols-cols textarea {
  margin-top: 20px;
}

div.error {
  margin-top: 16px;
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
}

.grid-cols-one input,
.grid-cols-one button {
  margin-top: 20px;
}

.flex-items {
  display: flex;
  align-items: center;
  gap: 1em;
}

.grid-cols-two {
  display: none;
}

.grid-cols-two img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.heading-h2 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
}

.span-text {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}

.span-text a {
  font-weight: 500;
}

.flex-cards-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  padding: 2em;
}

.cart-item {
  display: flex;
  justify-content: center;
}

.custom-class {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

/* LOADING CONTAINER */
.loading-container {
  background: rgba(26, 51, 101, .5);
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 999;
}

.highlights {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin-top: 2em;
}

/* ADMIN */

.admin-flex {
  display: grid;
  grid-template-columns: 1fr 3fr;
}


@media screen and (min-width: 768px) {
  .grid-items {
    grid-template-columns: 1fr 2fr;
  }

  .grid-cols {
    grid-template-columns: 1fr 1fr;
  }

  .grid-cols-two {
    height: 100vh;
    display: unset;
  }
}

.onboarding__loader {
  display: grid;
  gap: 1em;
  margin-top: 1em;
}

.paypal {
  background: #fbbf24;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  padding: 1em;
}

.paypal img {
  width: 80px;
}

@media screen and (min-width: 768px) {
  .onboarding__loader {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 540px) {
  .grid-cols-one {
    padding: 1em;
  }
}